<ul>
  <div class="container">
    <% posts.forEach((post) => { %>
      <li class = "post">
        <%= post.title %>
        <img src="<%= post.image %>" />
        <a href="/post/<%= post.id %>">Read</a>
      </li>
      <% }) %>
  </div>
  </ul>