
<form class="postCreation" action="/post/search" method="post">
   
    <select class="categorySelect" name="category">
    <% categories.forEach((category) => { %>
  
    <option value="<%= category.id %>"><%= category.name %></option>
    <% }) %>
  </select>
  <button class="linkBtn" type="submit">Submit</button>
</form>