<h1>Welcome to My-NICHI!</h1>
<div class="home">
  Welcome to My-NICHI, where you can post your thoughts, experiences or whatever
  you like! Keep everything to yourself or share it with others, the choice is
  yours. :)
  <ul>
    <li>Under "My Journal" you will find all posts that you made.</li>
    <li>Under "Create" you can create a new post.</li>
    <li>
      Under "My Profile you can adjust your profile and change your profile
      image.
    </li>
    <li>
      Under "Search" you can search for posts that belong to a certain category.
    </li>
    <li>
      Under "View Private Posts" all your private posts will be displayed.
    </li>
    <li>
      Under "View Public Posts" all public posts (from you and others) will be
      displayed.
    </li>
  </ul>
</div>
<h2>Happy Journaling!</h2>
