<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Document</title>
  </head>
  <body>
  <header>
    <nav>
      <ul class="nav-area">
        <% if (!currentUser) { %>
        <li><a href="/user/register" class="nav-link">Register</a></li>
        <% } %> <% if (!currentUser) { %>
        <li><a href="/user/login">Login</a></li>
        <% } %> <% if (currentUser) { %>
        <li><a href="/user/logout">Logout</a></li>
        <% } %> <% if (currentUser) { %>
        <li><a href="/post/createPost">Create Post</a></li>
        <% } %> <% if (currentUser) { %>
          <li><a href="/user/profile"> My Profile </a></li>
        <% } %> <% if (currentUser) { %>
        <li><a href="/post/myJournal"> My Journal
           </a></li>
        <% } %> <% if (currentUser) { %>
          <li><a href="/user/search"> Search </a></li>
        <% } %> <% if (currentUser) { %>
        <li><a href="/post/viewPrivate">view private posts</a></li>
        <% } %> <% if (currentUser) { %>
        <li><a href="/post/viewPublic">view public posts</a></li>
        <% } %>
      </ul>
      </nav>
    </header>
    <%- body %>
  </div>
  </body>
</html>
