* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/1.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 50px;
  color: #fff;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 170px;
}

h1 {
  padding:30px;
}

.nav-area {
  list-style: none;
}

.nav-area li {
  display: inline-block;
  padding: 0px 20px;
  text-transform: uppercase;
}

.nav-area li a {
  transition: .3s;
  color: #fff;
}