* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  size: 50% 50%;
  background-image: url('../images/background.jpg');
  background-color: transparent;
  background-color: rgb (8, 103, 136);
  background-size: cover;
  color:antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-repeat: no-repeat;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover 
li a:hover {
  background-color: #555;
  color: white;
}
