

<h1>YOUJOU</h1>
<h2> Journal your Journey
  Every Page a Memory </h2>

<form action="/user/login" method="post">
  <input type="email" name="email" placeholder="Email" required />
  <input type="username" name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">submit</button>
</form>
