<h2>Log in</h2>
<form action="/user/login" method="post">
  <input type="email" name="email" required/>
  <input type="username" name="username" required/>
  <input type="password" name="password" required />
  <button type="submit">submit</button>
</form>
