<h1>My-NICHI</h1>
<h2>
  Journal your Journey. <br />
  Every Page a Memory.
</h2>

<h1>Login</h1>
<form class="loginForm" action="login" method="post">
  <div class="formInputMaterial">
    <input class="inputArea" type="text" name="email" autocomplete="off" required />
    <label class="labelName" for="username">
      <span class="contentName">Email</span>
    </label>
  </div>
  <div class="formInputMaterial">
    <input class="inputArea" type="text" name="username" autocomplete="off" required />
    <label class="labelName" for="username">
      <span class="contentName">Username</span>
    </label>
  </div>
  <div class="formInputMaterial">
    <input class="inputArea" type="password" name="password" autocomplete="off" required />
    <label class="labelName" for="password">
      <span class="contentName">Password</span>
    </label>
  </div>
  <button type="submit" class="linkBtn">Submit</button>
</form>
