<h2>Profile</h2>
<div class="readPost">
    <div><%= currentUser.username %></div>
    <a class="navLink" href="/post/createPost">Create a Post</a>
    
    <form action="/user/profile/<%= currentUser.id %>?_method=PUT"
    method="post" enctype="multipart/form-data">
    <div class="formInputMaterial">
        <input name="file" type="file" />
    </div>
    <button type="submit" class="linkBtn">Submit</button>
</form>

</div>
